#add_input {
	width: 500px;
	float: left;
	margin-right: 10px;
}
.wrapper {
	margin-bottom: 60px;
}
.footer {
	border:1px solid black;
	background-color:#ffec8b;
}

/*body{
	background-color:#fffddf;
}
li{
	list-style-type:none;
}
#zagolovok{
		font-size:40px;
		color:#714b23;
		text-decoration:underline;

}
#nizlevo {
	float:left;
}
#nizpravo{

	float:right;	
}
.kl{
	padding:10px;
	box-sizing:border-box;
	border:1px solid black;
	width:50%;
	background-color:#ffec8b;
	margin-top:10px;
}

#main {
	padding-bottom: 50px;
}

#footer {
	position:fixed;
	bottom:0;	
	width:100%;	
}*/